# Copyright (c) 2026 Hunter Cook (jusdisgi)
# SPDX-License-Identifier: MIT

if SHIELD_STACTYL_LEFT

config ZMK_KEYBOARD_NAME
    default "stactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_STACTYL_LEFT || SHIELD_STACTYL_RIGHT

config ZMK_SPLIT
    default y

endif
